<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>education</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBConnect</display-name>
    <servlet-name>DBConnect</servlet-name>
    <servlet-class>db.DBConnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnect</servlet-name>
    <url-pattern>/DBConnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>db.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>model.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDAO</display-name>
    <servlet-name>EmployeeDAO</servlet-name>
    <servlet-class>Dao.EmployeeDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDAO</servlet-name>
    <url-pattern>/EmployeeDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacher</display-name>
    <servlet-name>Teacher</servlet-name>
    <servlet-class>model.Teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher</servlet-name>
    <url-pattern>/Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDAO</display-name>
    <servlet-name>TeacherDAO</servlet-name>
    <servlet-class>Dao.TeacherDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDAO</servlet-name>
    <url-pattern>/TeacherDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>model.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDAO</display-name>
    <servlet-name>StudentDAO</servlet-name>
    <servlet-class>Dao.StudentDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDAO</servlet-name>
    <url-pattern>/StudentDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>model.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDAO</display-name>
    <servlet-name>BookDAO</servlet-name>
    <servlet-class>Dao.BookDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDAO</servlet-name>
    <url-pattern>/BookDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lesson</display-name>
    <servlet-name>Lesson</servlet-name>
    <servlet-class>model.Lesson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lesson</servlet-name>
    <url-pattern>/Lesson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LessonDAO</display-name>
    <servlet-name>LessonDAO</servlet-name>
    <servlet-class>Dao.LessonDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonDAO</servlet-name>
    <url-pattern>/LessonDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Course</display-name>
    <servlet-name>Course</servlet-name>
    <servlet-class>model.Course</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course</servlet-name>
    <url-pattern>/Course</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDAO</display-name>
    <servlet-name>CourseDAO</servlet-name>
    <servlet-class>Dao.CourseDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDAO</servlet-name>
    <url-pattern>/CourseDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Announcement</display-name>
    <servlet-name>Announcement</servlet-name>
    <servlet-class>model.Announcement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Announcement</servlet-name>
    <url-pattern>/Announcement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnouncementDAO</display-name>
    <servlet-name>AnnouncementDAO</servlet-name>
    <servlet-class>Dao.AnnouncementDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementDAO</servlet-name>
    <url-pattern>/AnnouncementDAO</url-pattern>
  </servlet-mapping>

</web-app>